<div class="why_we">
  <div class="content_white">
    <h1 class="title">ПОЧЕМУ С НАМИ ВЫГОДНО?</h1>
    <div class="why_list">
      <p>
        1. Это прямая продажа от застройщика без дополнительных комиссий и
        переплат
      </p>
      <p>
        2. Весь процесс подготовки документов и проверку чистоты сделки мы берем
        на себя
      </p>
      <p>
        3. Помогаем Вам правильно и корректно завести заявку в банке и получить
        положительный результат
      </p>
      <p>
        4. Мы самостоятельно подготавливаем и предоставляем в банк весь пакет
        документов которые требуются для строительного подряда а также для
        готового жилья
      </p>
      <p>5. Широкий ассортимент домов и земельных участков</p>
    </div>

    <h1 class="title">А также:</h1>

    <div class="about_blocks">
      <div class="item">
        <span>5 лет</span>
        на рынке <br />
        недвижимости
      </div>
      <div class="item">
        <span>42000 м<sup>2</sup></span>
        реализованных <br />
        площадей
      </div>
      <div class="item">
        Являемся профессионалами в области <br />
        продаж коттеджных поселков <br />
        и частных домов
      </div>
    </div>
  </div>
</div>

<div class="portfolio">
  <div class="content_white">
    <h1 class="title">Проекты компании</h1>
    <div class="portfolio_list">
      <div class="it">
        <a
          class="gall_prev"
          [style.--imagePrev]="'url(/assets/images/portfolio/photo1.jpg)'"
          data-fancybox="КП Чехов"
          [href]="'/assets/images/portfolio/photo1.jpg'"
        >
        </a>
        <div class="desc">
          <span class="name">КП Чехов</span>
          <div class="status">
            <span class="key">Статус</span> <span class="value">Продано</span>
          </div>
        </div>
      </div>

      <div class="it">
        <a
          class="gall_prev"
          [style.--imagePrev]="'url(/assets/images/portfolio/photo2.jpg)'"
          data-fancybox="КП Тургеневские дачи"
          [href]="'/assets/images/portfolio/photo2.jpg'"
        >
        </a>
        <div class="desc">
          <span class="name">КП Тургеневские дачи</span>
          <div class="status">
            <span class="key">Статус</span> <span class="value">Продано</span>
          </div>
        </div>
      </div>
      <div class="it">
        <a
          class="gall_prev"
          [style.--imagePrev]="'url(/assets/images/portfolio/photo3.jpg)'"
          data-fancybox="КП Ангарский"
          [href]="'/assets/images/portfolio/photo3.jpg'"
        >
        </a>
        <div class="desc">
          <span class="name">КП Ангарский</span>
          <div class="status">
            <span class="key">Статус</span> <span class="value">В продаже</span>
          </div>
        </div>
      </div>
      <div class="it">
        <a
          class="gall_prev"
          [style.--imagePrev]="'url(/assets/images/portfolio/photo4.jpg)'"
          data-fancybox="КП Московский"
          [href]="'/assets/images/portfolio/photo4.jpg'"
        >
        </a>
        <div class="desc">
          <span class="name">КП Московский</span>
          <div class="status">
            <span class="key">Статус</span> <span class="value">В продаже</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
