<div class="why_we">
  <div class="content_white">
    <h1 class="title">ПОЧЕМУ С НАМИ ВЫГОДНО?</h1>
    <div class="why_list">
      <p>
        1. Это прямая продажа от застройщика без дополнительных комиссий и
        переплат
      </p>
      <p>
        2. Весь процесс подготовки документов и проверку чистоты сделки мы берем
        на себя
      </p>
      <p>
        3. Помогаем Вам правильно и корректно завести заявку в банке и получить
        положительный результат
      </p>
      <p>
        4. Мы самостоятельно подготавливаем и предоставляем в банк весь пакет
        документов которые требуются для строительного подряда а также для
        готового жилья
      </p>
      <p>5. Широкий ассортимент домов и земельных участков</p>
    </div>

    <h1 class="title">А также:</h1>

    <div class="about_blocks">
      <div class="item">
        <span>5 лет</span>
        на рынке <br>
        недвижимости
      </div>
      <div class="item">
        <span>42000 м<sup>2</sup></span>
        реализованных <br>
        площадей
      </div>
      <div class="item">
        Являемся профессионалами в области <br>
        продаж коттеджных поселков <br>
        и частных домов
      </div>
    </div>
  </div>
</div>

