<div class="content_white">
  <h1 class="title">Технология строительства</h1>

  <cdk-accordion class="technology_list">
    @for (item of technologyList; track item; let index = $index) {
      <cdk-accordion-item
        #accordionItem="cdkAccordionItem"
        class="example-accordion-item"
        role="button"
        tabindex="0"
        [attr.id]="'accordion-header-' + index"
        [attr.aria-expanded]="accordionItem.expanded"
        [attr.aria-controls]="'accordion-body-' + index"
      >
        <div
          [class.expanded]="accordionItem.expanded"
          class="technology_title"
          (click)="accordionItem.toggle()"
        >
          <span class="index">{{ index + 1 }}</span> {{ item.key }}
        </div>
        <div
          class="technology_desc"
          role="region"
          [style.display]="accordionItem.expanded ? '' : 'none'"
          [attr.id]="'accordion-body-' + index"
          [attr.aria-labelledby]="'accordion-header-' + index"
        >
          {{ item.value }}
        </div>
      </cdk-accordion-item>
    }
  </cdk-accordion>

  <!--  <div id="map" style="width: 100%; height: 300px"></div>-->
</div>
