
<div class="content_white">
  <h1 class="title">Условия покупки</h1>
  <div class="text_terms">
    <div class="left">
      <ul>
        <li>Любой вид льготной ипотеки</li>
        <li>Ипотека под строительство с аккредитованным застройщиком</li>
        <li>Наличный расчет</li>
        <li>Мат. капитал</li>
        <li>Жилищный сертификат</li>
        <li>Военная ипотека</li>
      </ul>
      <div class="safety">
        <h1 class="title">Безопасная сделка</h1>
        <p>Договор купли-продажи зем.участка с обязательной регистрацией в Росреестре</p>
      </div>

    </div>


    <img src="/assets/images/uslovia_girl.png" alt="">

  </div>
</div>
