.content_white {
  padding-bottom: 0;
  width: fit-content;
}
.text_terms {
  display: flex;
  ul {
    list-style: none;
    margin-right: 0;
    padding: 0;
  }
  li {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    font-size: 20px;
    &:before {
      display: block;
      width: 30px;
      height: 30px;
      content: '';
      background: url("/assets/icons/accept.svg");
      background-size: contain;
      margin-right: 15px;
    }

  }
  img {
    width: 350px;
  }
}

.safety {
  padding-top: 20px;
  p {
    font-size: 20px;
  }

}
