@import "colors";
@import "button_animate";


mat-sidenav-container {
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    background: #ccc;
    top: 0;
    z-index: 10000;
    transition: all ease 1.5s;
  }
  &:after {
    content: 'Загрузка...';
    text-align: center;
    color: #000;
    position: absolute;
    width: 100%;
    height: 50%;
    background: #ccc;
    z-index: 10000;
    bottom: 0;
    transition: all ease 1.5s;
  }

  &.loaded {
    &:before {
      transform: translateY(-100%);
    }
    &:after {
      transform: translateY(100%);
      content: '';
    }
  }
}



@keyframes slide {
  100% { top: -1000px; }
}

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
}

mat-sidenav-container {
  height: 100%;
  //  height: 100vh;
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav {
  color: #fff;
  background: #1b142b;
  border: none;
  @media screen and (min-width: 600px) {
    //  padding-top: 4rem;
  }

  .entry {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
  }
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav-content {
  overflow-x: hidden;
  // padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
    //padding-top: 80px;
  }
}

.expanded {
  width: 250px;
  transition: width 0.4ms;
}

.logo {
  text-align: center;
  padding-top: 20px;

  img {
    width: 70px;
  }
  a {
    text-decoration: none;
    color: $bronze;
    display: flex;
    flex-flow: column;
    align-items: center;
    /* justify-content: center; */
    margin: auto;
  }
  .pre1 {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    border-bottom: 4px solid #a67c52;
    padding-bottom: 7px;
    margin-top: 3px;
  }
  .pre2 {
    display: block;
    font-size: 12px;
    margin-top: -3px;
  }
}

.nav {
  text-align: center;
  margin-top: 30px;
  li {
    display: flex;
    height: 40px;
    width: 100%;
    flex-flow: column;
  }
  a {
    text-decoration: none;
    color: $white;
    height: 40px;
    display: block;
    position: relative;

    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: relative;
      display: block;
      margin: 0;
      width: 0;
      height: 100%;
      background: $bronze;
    }

    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: $bronze;
      }
    }

    &.active {
      .circle {
        width: 100%;
        .icon {
          &.arrow {
            background: $white;
            transform: translate(1rem, 0);
          }
        }
      }
      .button-text {
        color: $white;
      }
    }
  }
}

.btn-hover {
  width: 110px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
  height: 110px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  flex-flow: column;
  margin-top: 30px;
  mat-icon {
    margin-bottom: 5px;
  }
}

.btn-hover:hover {
  background-position: 100% 0;

  transition: all 0.2s ease-in-out;
}

.btn-hover.color-11 {
  background-image: linear-gradient(
    to right,
    #a67c52,
    #a67c52,
    #bd9d7d,
    #a67c52,
    #a67c52
  );
}

.foot {
  padding-top: 30px;
  position: absolute;
  bottom: 0;
}
.rights {
  font-size: 11px;
  text-align: center;
  color: #ececec;
  padding-bottom: 15px;
}

.privacy {
  text-align: center;
  font-size: 10px;
  a {
    font-size: 11px;
    color: $white;
    text-decoration: none;
    transition: all ease 0.2s;
    &:hover {
      color: $bronze;
    }
  }
  span {
    display: block;
    color: #bbbbbb;
    padding: 15px;
    opacity: 0.9;
  }
}

header {
  position: absolute;
  z-index: 98;
  left: 0;
  top: 0;
  right: 0;
  height: 80px;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $white;
  &.sub_page {
    background: #959393;
  }
}

main {
  // padding: 80px 0 0 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.address_top {
  cursor: pointer;
  display: flex;
  .address {
    padding-left: 10px;
    color: $white;
    span {
      color: $gray;
    }
  }
}

.safety {
  display: flex;
  color: #fff;
  text-decoration: none;
  .text {
    padding-left: 10px;
  }
}

.phone_box {
  display: flex;
  align-items: center;
  .phone {
    padding-right: 10px;
    font-size: 19px;
  }
}

.call_box {
  position: absolute;
  bottom: 30px;
  right: 60px;
  .trin-trin {
    height: 38px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.page_box {
  width: 100%;
  height: 100%;
}
.page_box_content {
  padding: 80px 0 0 0;
}

.page_box_overflow {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #a67c52;
    outline: 1px solid slategrey;
  }
}
.page_box_article {
  padding: 30px 60px;
  padding-bottom: 100px;
}

.toast_bt {
  padding: 0;
  mat-icon {
    font-size: 30px;
    width: 33px;
    height: 26px;
  }
}

.address_sidebar {
  display: none;
}

@media (max-width: 800px) {
  .address_sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 36px;
    flex-flow: column;
    .address {
      text-align: center;
      order: 1;
      font-size: 14px;
      span {
        display: block;
      }
    }

    .icon_wrap {
      height: 38px;
      order: 2;
      margin-top: 10px;
    }
  }
  header {
    padding: 0 10px;
  }

  .nav {
    li {
      height: 34px;
    }
  }

  .foot {
    position: relative;
  }

  .phone_box {
    button {
      display: none;
    }
    .phone {
      font-size: 23px;
    }
  }
  .safety {
    display: none;
  }
  .address_top {
    display: none;
  }
  .call_box {
    right: 20px;
    .icon_wrap {
      width: 48px;
    }
    .trin-trin {
      height: 48px;
    }
    mat-icon {
      font-size: 30px;
      height: 30px;
      width: 30px;
    }
  }

  .page_box_article {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 200px;
  }
}
