<div class="content_white">
  <h1 class="title">Коммуникации</h1>
  <p class="pre">Коттеджный поселок «Великан Дом» обеспечен централизованными коммуникациями, <br> которые проведены под землей, что придает эстетически привлекательный вид общей территории.</p>
  <div class="cont">
    <div class="it">
      <span>Газоснабжение</span>
      <img src="/assets/icons/gas.svg" alt="">
    </div>
    <div class="it">
      <span>Водоснабжение</span>
      <img src="/assets/icons/water.svg" alt="">
    </div>
    <div class="it">
      <span>Электроснабжение</span>
      <img src="/assets/icons/electric.svg" alt="">
    </div>
  </div>
  <div class="cont2">
    <p>Получите более подробную информацию в отделе продаж</p>
    <button (click)="sendFeedback()" class="btn-more-animate learn-more">
          <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
          </span>
      <span class="button-text">Заказать звонок</span>
    </button>
  </div>
</div>
