:host {
  display: flex;
  height: 100%;
}

iframe {
  border: none;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
}
.map {
  position: relative;
  display: flex;
  height: calc(100vh - 120px);
  width: calc(100vw - 120px);
  margin: auto;
}

@media (max-width: 800px) {
  .map {
    height: calc(100% - 120px);
    width: calc(100% - 40px);
    display: flex;
  }
}
